*{
	padding: 0;
	margin: 0;
	background-color: #c2c2c2;
	font-family: "Montserrat", sans-serif;
	color: #525050;
	border-color: aqua;
}
h1{
	font-size: 30px;
	
}
#p2{
	font-size: 25px;
	color: rgb(75, 39, 54);
}
.nav{
	font-size: 40px;
	list-style: none;
    margin: 0;
    padding: 0;
	height:36px; line-height:36px;
    }
.nav li {
	border-right:20px ; 
    float:left;
}
ul.nav a {
    display:block;
    padding:0 28px;
    color:#95aca7;
    text-decoration:none;
}
.nav a:hover,
.nav li.current a {
    color:#6fc7c3;
}
/* Container */
.pics{
	margin: auto;
}
.pic{
	width: 30.3%;
	float: left;
	padding: 5px;
}
.pics img{ 
	max-width:100%; 
} 
.footer{
	margin: auto;
}
